/* ///////////////////////
Colors
*/ ///////////////////////

// Primary
$primary: #ffc947; //golden
$secondary: #185adb; //blue

// Supporting Colors
$primary-tone: #f98404; //orange
$primary-light: #f7fd04; //yellow
$primary-dark: #f7da91;
$secondary-tone: #00adb5; //teal
$secondary-shade: #126568; //dark cyan
$tertiary-tone: #f21170; //electric red
$tertiary-shade: #4a1c40; //deep red
$brand-gray: #545c52; //gray

// State
$brand-red: #b11030; //bright red
$brand-red-tone: #dd563e; //pea flame

// B&W
$white: #fff;
$warm-black: #242221;
$black: #212121;

// Grays
$gray-light: #f7f7f7;
$gray-tone: #eee;
$gray: #bdbdbd;
$gray-shade: #e0e0e0;
$gray-dark: #757575;

// Utility
$warning: $brand-red;
$sucess: #8ADA55;